
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jumbotron Template for Bootstrap</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <!--  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-paper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>

    <% include ./partials/navbar %>


      <!-- Example row of columns -->
      <%- body -%>

      <!-- /container -->
      <% include ./partials/footer %>
      <% include ./partials/javascriptOnly %>
  </body>
</html>
